.input-container {
    position: relative;
}

label {
    position: absolute;
    left: 10px;
    top: 25px;
    transition: 0.3s ease-out;
    pointer-events: none;
}

/* input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
} */

/* Stile dell'etichetta quando l'input è focalizzato o contiene testo */
.input-container.focused label,
.input-container label-up {
    top: 3px;
    padding: 1px;
    font-size: 13px;
    color: #464343c4;
    font-family: 'Montserrat, sans-serif',
    /* Cambia colore a tuo piacimento */
}