.loading-spinner {
    position: relative;
    text-align: center;
    margin: 20px;
}

.customIcon {
    width: 50px;
    height: 20px;
    /* background: #3498db; */
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    animation: movePlane 4s linear infinite;
}

.cloud {
    width: 20px;
    height: 20px;
    /* background: #f1c40f; */
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    animation: moveCloud 4s linear infinite;
}

.cloud1 {
    left: -20px;
    top: 10px;
    animation-delay: 0.5s;
}

.cloud2 {
    left: -40px;
    top: 40px;
    animation-delay: 1s;
}

.cloud3 {
    left: -20px;
    top: 70px;
    animation-delay: 1.5s;
}

.loading-spinner .customIcon {
    color: red; /* Colore per l'icona customIcon */
  }
  
  .loading-spinner .cloud1 {
    color: green; /* Colore per l'icona cloud1 */
  }
  
  .loading-spinner .cloud2 {
    color: blue; /* Colore per l'icona cloud2 */
  }
  
  .loading-spinner .cloud3 {
    color: orange; /* Colore per l'icona cloud3 */
  }
  

@keyframes movePlane {
    0% {
        left: -50px;
    }

    100% {
        left: 100%;
    }
}

@keyframes moveCloud {
    0% {
        left: -20px;
        opacity: 0.7;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}